body{
  background: rgb(211, 211, 60);
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  width: 400px;
  margin: 8px auto;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  position: relative;
}

#question{
  margin-bottom: 16px;
  font-weight: bold;
}

#choices{
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-bottom: 16px;
}

#choices li{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

#choices li.correct{
  background: greenyellow;
  border-color: rgb(157, 233, 43);
  font-weight: bold;
  color: #fff;
}

#choices li.correct::after{
  content: '....正解';
}

#choices li.batu{
  background: hotpink;
  border-color: rgb(223, 92, 157);
  font-weight: bold;
  color: #fff;
}

#choices li.batu::after{
  content: '....不正解';
}

#choices li:hover{
  background: rgb(136, 131, 131);
}

#btn{
  background: rgb(90, 55, 247);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 rgb(69, 42, 190);
}

#btn.disabled{
  background: rgb(175, 199, 223);
  box-shadow: 0 4px 0 rgb(139, 159, 177);
}

#result{
  position: absolute;
  width: 300px;
  background: #fff;
  text-align: center;
  padding: 30px;
  box-shadow: 0 4px 8px rgb(37, 37, 37);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 24px;
  transition: 1s;
}

#result.hidden{
  transform: translate(0,-500px);
}

@media(max-width:650px){
  body{
    width: 380px;
    padding-top: 80px;
    margin: 0;
  }

  .container{
    width: 380px;
    margin: 0;
  }
}
